*{
    font-family: 'Share Tech Mono', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    background-color: #252525;
}

.container .nav{
    background-color: rgba(16, 15, 15, 0.702);
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    border-radius: 20px 20px 0px 0px;
}

.container .nav .nav-menu{
    display: none;
}

.container .footer{
    background-color: rgba(16, 15, 15, 0.702);
    height: 200px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    align-items: center;
    gap: 50px;
    border-radius: 0px 0px 20px 20px;
}

.container .footer a{
    text-decoration: none;
    color: white;
}

.container .footer .footer-list{
    display: grid;
    grid-template-rows: auto auto auto;
    gap: 20px;
}

.container .footer .footer-list .footer-titulo{
    text-decoration: underline;
}

.container .footer img{
    justify-self: center;    
    width: 100px;
}

.container .header a{
    color: rgb(226, 226, 226);
    border-color: orange;
    border: solid 1px;
    padding: 5px; 
    border-radius: 50px;
    width: 110px;
    text-align: center;
    text-decoration: none;
    background: linear-gradient(90deg, rgb(41, 42, 55) 6%, rgba(0,200,255,1) 87%);
}

img{
    margin-left: 5px;
    width: 40px;
    border-radius: 50%;
}

.container{
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: repeat(3, auto);
    gap: 5px;
    border-color: rgb(45, 38, 52);
    border:solid 1px;
    border-radius: 20px 20px 20px 20px;
}

.container .header , .footer{
    grid-column: 1 / span 3;
}

.container .menuIzquierda{
    display: grid;
    grid-row: 5% 50% 45%;
    align-self: flex-start;
    border-right: solid 1px;
    border-color: rgb(115, 114, 114);
}

.container .menuIzquierda .form{
    color:aqua;
    text-align: center;
    display: grid;
    columns: auto;
}

.container .menuDerecha{
    display: grid;
    grid-template-rows: repeat(3,5% 5% auto);
}

.menuDerecha .encabezado{
    display:flex;
    font-size: 15px;
    height: 50px;
}

.container .titulo{
    color:aqua;
    text-align: center;
}

.container .menuDerecha h2{
    color:aqua;
    text-align: center;
}

.cardTitulo{
    display:grid;
    grid-template-columns: 50px 90px 90px 90px 80px 120px 30%;
    gap: 1%;
    align-items: center;
    text-align: center;
    font-size: 11px;
    height: 50px;
    padding: 0px 30px;
}

.container .menuDerecha .cardSection{
    overflow-x: hidden;
    overflow-y: auto;
    height: 80vh;
}

.container .menuDerecha .cardSection .cards-container .cards {
    display:grid;
    grid-template-columns: 5% 50% 50%;
    color:white;
    gap: 1%;
    border-top: solid 0.5px;
    border-color: aqua;
    border-radius: 50px;
    font-size: 10px;
    margin: 10px 30px;
    height: 40px;
}

.container .menuDerecha .cardSection .cards-container .cards .cards-txt{
    display: grid;
    grid-template-columns: 100px 100px 100px 100px 100px;
}

.container .menuDerecha .cardSection .cards-container .cards .cards-txt .desc{
    display: none;
}

.container .menuDerecha .cardSection .cards-container .cards .cards-btn{
    display: grid;
    grid-template-columns: 100px 100px 100px;
    justify-content: center;
    padding-left: 5%;
}

.container .menuDerecha .cardSection .cards-container .cards .cards-txt, .cards-btn .modificar:hover{
    color: rgb(228, 228, 73);
    transition: 0.5s;
}

.container .menuDerecha .cardSection .cards-container .cards .cards-txt, .cards-btn .eliminar:hover{
    color: red;
    transition: 0.5s;
}

.container .menuDerecha .cardSection .cards-container .cards .cards-txt, .cards-btn .detalles:hover{
    color: greenyellow;
    transition: 0.5s;
}

.container .menuDerecha .cardSection .cards-container .cards .cards-txt, .cards-btn h2{
    text-align: center;
}

.container .menuDerecha .cardSection .cards-container .card-detail {
    /* display:grid;
    grid-template-columns: repeat(3, 150px 200px 200px); */
    display: flex;
    flex-direction: row;
    color:white;
    border-bottom: solid 0.5px;
    border-color: aqua;
    border-radius: 50px;
    font-size: 10px;
    margin: 10px 30px;
    height: 40px;
    padding-left: 2%;
    text-align: left;
    gap: 50px;
}

.cards a{
    text-decoration: none;
    color: white;
    align-self: center;
    font-size: 15px;
}

.cards img{
    width: 40px;
    height: 35px;
    align-self: center;
}

.opt-btn{
    padding: 5px 10px;
    border-radius: 50px;
    border:solid 1px;
    width: 70px;
    text-align: center;
    text-decoration: none;
    border-color: white;
    color: white;
}

.card-details .opt-btn{
    width: 100%;
}

.btnNuevoRegistro{
    align-self: center;
    /* text-align: center; */
    width: 90%;
    background-color:  aqua;
    color:black;
    margin-top: 10px;
    border: solid 0.5px;
    border-color: aqua;
    border-radius: 50px;
    height: 40px;
    cursor: pointer;
}

.inputForm{
    display: grid;
    grid-template-columns: repeat(2,30% 40%);
    text-align: left;
    align-items: center;
    margin: 10px 10px;
    padding: 0px 10px;
    font-size: medium;
    width: 90%;
    height: 40px;
    color:white;
    border: solid 0.5px;
    border-color: aqua;
    border-radius: 50px;

}

.inputForm input, textarea, select{
    height: 25px;
    width: 150%;
    align-items: center;
    border-radius: 25px;
}

.dashboard h3{
    color:  white;
    font-size: medium;
    margin-left: 20px;
}

@media screen and (max-width: 1300px) {
    .container .menuDerecha .cardSection{
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 1%;
        /* height: 80vh */
    }

    .container .menuDerecha .cardSection .cards-container .cards{
        grid-template-columns: auto;
        grid-template-rows: repeat(3,auto);
        justify-content: center;
        align-self: center;
        min-height: 320px;
        min-width: 200px;
        border: solid 0.5px;
        border-color: aqua;
    }

    .container .menuDerecha .cardSection .cards-container .cards .cards-img{
        display: flex;       
        flex-direction: column;
        justify-self: center;
        padding-top: 5%;
    }

    .container .menuDerecha .cardSection .cards-container .cards .cards-img img{
        width: 75px;
        height: 75px;
    }

    .container .menuDerecha .cardSection .cards-container .cards .cards-txt{
        display: flex;
        flex-direction: column;
    }

    .container .menuDerecha .cardSection .cards-container .cards .cards-txt .desc{
        display: flex;
    }

    .container .menuDerecha .cardSection .cards-container .cards .cards-txt h2{
        display: flex;
        flex-direction: column;
        margin: 1%;
    }

    .container .menuDerecha .cardSection .cards-container .cards .cards-btn{
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
    .container .menuDerecha .cardSection .cards-container .cards .opt-btn{
        gap: 15px;
    }

    .container .menuDerecha .cardSection .cards-container .cards .detalles{
        display: none;
    }

    /* Acá van todas aquellas configuraciones que desaparecen con el responsive  */
    .cardTitulo{
        display: none;
    }
}

@media screen and (max-width: 1150px) {
    .container .menuIzquierda{
        display: grid;
        grid-column: 1 / span 3;

    }
    .container .menuDerecha{
        display: grid;
        grid-column: 1 / span 3;
    }

    .container .menuDerecha .cardSection .cards-container .cards{
        grid-template-columns: auto;
        grid-template-rows: repeat(3,auto);
        justify-content: center;
        align-self: center;
        min-height: 320px;
        min-width: 200px;
        border: solid 0.5px;
        border-color: aqua;
    }

    .container .menuDerecha .cardSection .cards-container .cards .cards-img{
        display: flex;       
        flex-direction: column;
        justify-self: center;
        padding-top: 5%;
    }

    .container .menuDerecha .cardSection .cards-container .cards .cards-txt h2{
        display: flex;
        flex-direction: column;
        margin: 1%;
    }

    .container .menuDerecha .cardSection .cards-container .cards .cards-btn{
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
    .container .menuDerecha .cardSection .cards-container .cards .opt-btn{
        gap: 15px;
    }

    /* Acá van todas aquellas configuraciones que desaparecen con el responsive  */
    .cardTitulo{
        display: none;
    }
    .dashboard{
        display: none;
    }
}

@media screen and (max-width: 900px) {
    .container .menuIzquierda{
        display: grid;
        grid-column: 1 / span 3;

    }
    .container .menuDerecha{
        display: grid;
        grid-column: 1 / span 3;
    }

    .container .menuDerecha .cardSection .cards-container .cards{
        grid-template-columns: auto;
        /* grid-template-rows: repeat(3,auto); */
        justify-content: center;
        align-self: center;
        min-height: 320px;
        min-width: 200px;
        border: solid 0.5px;
        border-color: aqua;
    }

    .container .menuDerecha .cardSection .cards-container .cards .cards-img{
        display: flex;       
        flex-direction: column;
        justify-self: center;
        padding-top: 5%;
    }

    .container .menuDerecha .cardSection .cards-container .cards .cards-txt h2{
        display: flex;
        flex-direction: column;
        margin: 1%;
    }

    .container .menuDerecha .cardSection .cards-container .cards .cards-btn{
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
    .container .menuDerecha .cardSection .cards-container .cards .opt-btn{
        gap: 15px;
    }

    /* Acá van todas aquellas configuraciones que desaparecen con el responsive  */
    .cardTitulo{
        display: none;
    }
    .dashboard{
        display: none;
    }

}

@media screen and (max-width: 800px) {
    .container .menuIzquierda{
        display: grid;
        grid-column: 1 / span 3;
    }
    .container .menuDerecha{
        display: grid;
        grid-column: 1 / span 3;
    }
    .container .menuDerecha .cardSection{
        display: grid;
        grid-template-columns: auto auto;
        gap: 1%;
    }

    .container .menuDerecha .cardSection .cards-container .cards{
        grid-template-columns: auto;
        grid-template-rows: repeat(3,auto);
        /* justify-content: center; */
        /* align-self: center; */
        min-height: 320px;
        min-width: 200px;
        border: solid 0.5px;
        border-color: aqua;
    }

    .container .menuDerecha .cardSection .cards-container .cards .cards-img{
        display: flex;       
        flex-direction: column;
        justify-self: center;
        padding-top: 5%;
    }

    .container .menuDerecha .cardSection .cards-container .cards .cards-txt h2{
        display: flex;
        flex-direction: column;
        margin: 1%;
    }

    .container .menuDerecha .cardSection .cards-container .cards .cards-btn{
        display: flex;
        flex-direction: column;
        gap: 5px;
        padding-bottom: 5%;
    }
    .container .menuDerecha .cardSection .cards-container .cards .opt-btn{
        gap: 15px;
    }
    /* Acá van todas aquellas configuraciones que desaparecen con el responsive  */
    .cardTitulo{
        display: none;
    }
    .dashboard {
        display: none;
    }
    .header .nav-responsive{
        display: none;
    }
    .container .nav .nav-menu{
        display: flex;
        border-radius: 0%;
    }
}

@media screen and (max-width: 550px) {
    .container .menuIzquierda{
        display: grid;
        grid-column: 1 / span 3;
    }
    .container .menuDerecha{
        display: grid;
        grid-column: 1 / span 3;
    }
    .container .menuDerecha .cardSection{
        display: grid;
        grid-template-columns: auto;
        gap: 1%;
    }

    .container .menuDerecha .cardSection .cards-container .cards{
        grid-column: auto;
        grid-template-rows: repeat(3,auto);
        justify-content: center;
        align-self: center;
        min-height: 320px;
        min-width: 200px;
        border: solid 0.5px;
        border-color: aqua;
    }
    .container .menuDerecha .cardSection .cards-container .cards .cards-img{
        display: flex;       
        flex-direction: column;
        justify-self: center;
        padding-top: 5%;
    }
    .container .menuDerecha .cardSection .cards-container .cards .cards-txt h2{
        display: flex;
        flex-direction: column;
        margin: 1%;
    }
    .container .menuDerecha .cardSection .cards-container .cards .cards-btn{
        display: flex;
        flex-direction: column;
        gap: 5px;
        padding-bottom: 5%;
    }
    .container .menuDerecha .cardSection .cards-container .cards .opt-btn{
        gap: 15px;
    }
    /* Acá van todas aquellas configuraciones que desaparecen con el responsive  */
    .cardTitulo{
        display: none;
    }
}